Source: elinks
Section: web
Priority: optional
Maintainer: Y Giridhar Appaji Nag <giridhar@appaji.net>
Uploaders: Moritz Muehlenhoff <jmm@debian.org>
Build-Depends: debhelper (>= 5), libgnutls-dev, libgpmg1-dev [!hurd-i386 !kfreebsd-i386 !kfreebsd-amd64], liblua50-dev, liblualib50-dev, libbz2-dev, libexpat1-dev (>= 1.95.6), libperl-dev, libsmbclient-dev, guile-1.8-dev | guile-1.6-dev, python-dev, ruby1.8-dev, libmozjs-dev, autotools-dev, gettext, asciidoc, xmlto, docbook-utils, perl
Standards-Version: 3.7.3
Homepage: http://elinks.or.cz/
Vcs-Git: git://git.debian.org/git/collab-maint/elinks.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/elinks.git

Package: elinks
Architecture: any
Depends: ${shlibs:Depends}, elinks-data (= ${source:Version})
Suggests: elinks-doc
Provides: www-browser
Conflicts: elinks-lite
Description: Advanced text-mode WWW browser
 ELinks (Enhanced Links) is a lynx-like character mode browser, created
 from the Links browser with many patches and enhancements.  It includes
 support for rendering tables and frames, features background downloads,
 can display colors, supports the Lua scripting language, IPV6 and has
 many other features.

Package: elinks-data
Architecture: all
Recommends: elinks (= ${source:Version})
Conflicts: elinks (<= 0.11.1-1.5), elinks-lite
Replaces: elinks (<= 0.11.1-1.5)
Description: Data files for ELinks - An advanced text-mode WWW browser
 ELinks (Enhanced Links) is a lynx-like character mode browser, created
 from the Links browser with many patches and enhancements.  It includes
 support for rendering tables and frames, features background downloads,
 can display colors, supports the Lua scripting language, IPV6 and has
 many other features.
 .
 This package contains the data files that are necessary to use elinks.

Package: elinks-doc
Section: doc
Architecture: all
Suggests: elinks
Conflicts: elinks (<= 0.11.1-1.5), elinks-lite (<= 0.11.1-1.5)
Description: Documentation for ELinks - An advanced text-mode WWW browser
 ELinks (Enhanced Links) is a lynx-like character mode browser, created
 from the Links browser with many patches and enhancements.  It includes
 support for rendering tables and frames, features background downloads,
 can display colors, supports the Lua scripting language, IPV6 and has
 many other features.
 .
 This package contains the documentation and manuals for ELinks.

Package: elinks-lite
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Suggests: elinks-doc
Provides: www-browser
Conflicts: elinks
Description: Lightweight version of Elinks - An advanced text-mode WWW browser
 ELinks (Enhanced Links) is a lynx-like character mode browser, created
 from the Links browser with many patches and enhancements.  It includes
 support for rendering tables and frames, features background downloads
 and can display colors.
 .
 This lite version contains no scripting or extra features but doesn't
 depend on other libraries either, so it's useful for small systems.
