[Desktop Entry]
Version=1.0
Name=ELinks
Categories=Network;WebBrowser;
GenericName=ELinks Web Browser
Comment=ELinks text mode WWW browser
Exec=/usr/bin/elinks %u
Terminal=true
Type=Application
Icon=html
MimeType=text/html;
